<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<ul class="list-group m-2">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> --- <%= review.rating %>/5</li>


  <% end %>
</ul>

<%= link_to 'Back', restaurants_path, class: "btn btn-primary m-2" %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary m-2" %>
